@import "week3.css";

code {
  text-align: left;
}

body {
  text-align: left;
}

header {
  text-align: center;
}

p {
  margin: auto;
}

.moving {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animation {
  0%   {background-color:red; left:10%; top:10%; transform:rotate(720deg); }
  25%  {background-color:yellow; left:90%; top:10%;}
  50%  {background-color:blue; left:90%; top:90%; }
  75%  {background-color:green; left:10%; top:90%; }
  100% {background-color:red; left:10%; top:10%; }
}